<template>
  <v-container fill-height>
    <v-row>
      <v-col class="py-8">
        <h1 class="text-sm-h1 text-h2 text-center">Connection</h1>
      </v-col>
    </v-row>
    <v-row justify="center" class="px-10 px-md-0">
      <v-col v-for="card in cards" :key="card.title" cols="12" sm="6" xl="3">
        <v-card>
          <v-img
            :src="card.src"
            class="white--text align-end"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="350px"
          >
            <v-card-title v-text="card.title"></v-card-title>
          </v-img>

          <v-card-actions>
            <v-btn @click="card.pocket = !card.pocket" icon>
              <v-icon :color="card.pocket ? 'red' : ''">mdi-heart</v-icon>
            </v-btn>
            <v-btn @click="card.like = !card.like" icon>
              <v-icon :color="card.like ? 'blue' : ''">mdi-bookmark</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-share-variant</v-icon>
            </v-btn>
            <v-spacer />
            <v-btn @click="card.reveal = true" text color="#DB6365">
              Detail
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <v-card
              v-if="card.reveal"
              class="d-flex flex-column justify-space-between transition-fast-in-fast-out v-card--reveal"
              style="height: 100%"
            >
              <v-list>
                <p class="text-h5 text-md-h4 text--primary pa-4 pb-0">
                  {{ card.title }}
                </p>
                <v-list-item-group>
                  <v-list-item v-for="(item, i) in items" :key="i">
                    <v-list-item-icon>
                      <v-icon>mdi-circle-small</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title v-text="item"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
              <v-card-actions class="pt-0">
                <v-spacer />
                <v-btn text color="teal accent-4" @click="card.reveal = false">
                  Close
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    cards: [
      {
        title: "👍 Most popular",
        src: "https://cdn.vuetifyjs.com/images/cards/house.jpg",
        reveal: false,
        pocket: false,
        like: false,
      },
      {
        title: "✨ New Product",
        src: "https://cdn.vuetifyjs.com/images/cards/road.jpg",
        reveal: false,
        pocket: false,
        like: false,
      },
      {
        title: "🏆 Best sell",
        src: "https://cdn.vuetifyjs.com/images/cards/plane.jpg",
        reveal: false,
        pocket: false,
        like: false,
      },
      {
        title: "🎁 Our recommend",
        src: "https://cdn.vuetifyjs.com/images/cards/plane.jpg",
        reveal: false,
        pocket: false,
        like: false,
      },
    ],
    items: ["Brownie", "Apple pie", "Ginger cake ", "Blueberry pie"],
    model: 1,
  }),
};
</script>

<style>
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute !important;
  width: 100%;
}
</style>
